
<div class="addButton">
  <button mat-flat-button color="primary" (click)="addArtist()">Add Artist</button>
</div>
<div class="container">
  <div class="row">
    @for (artist of artists; track artist.id) {
    <div class="card-client">
      <div class="user-picture">
      <mat-icon>person</mat-icon>
      </div>
      <p class="name-client"> {{artist.firstName}} {{artist.lastName}}
        <span>
        </span>
      </p>

      <div class="social-media">
      </div>
      <p class="name-client"> {{artist.birthDate}}
      <p class="name-client"> {{artist.country}}
      <p class="name-client"> {{artist.bio}}
        <span>
        </span>
      </p>

      <button mat-raised-button (click)="deleteArtist(artist)">Delete</button>
      <button mat-raised-button (click)="editArtist(artist)">
        Edit
      </button>

    </div>
    }
  </div>

</div>
