<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item (click)="router.navigate(['/artists'])">Artists</a>
      <a mat-list-item (click)="router.navigate(['/tracks'])">Tracks</a>
      <a mat-list-item (click)="router.navigate(['/albums'])">Album</a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-toolbar style="background-color: rgb(174, 204, 243); display: flex; justify-content: space-between; align-items: center;">
    <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

  <span style="position: absolute; left: 50%; transform: translateX(-50%); font-weight: bold;"> Music Application
</span>

  </mat-toolbar>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
